{% extends 'base.html' %}
{% load static %}


{% block nav-about %}<li class="nav-item active"><a class="nav-link" href="/about">О соборе</a></li>{% endblock %}


{% block header %}
<header class="slider-main">
	<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

		<ol class="carousel-indicators">
			{% for photo in photo_slider %}
				{% if forloop.first == True %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
				{% else %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
				{% endif %}
			{% endfor %}
		</ol>

		<div class="carousel-inner" role="listbox">
			{% for photo in photo_slider %}
				{% if forloop.first == True %}
					<div class="carousel-item active" style="background-image: url('{{ photo.photo.url }}')">
						{% if photo.description %}
							<div class="carousel-caption d-none d-md-block">
								<h3>{{ photo.description }}</h3>
							</div>
						{% endif %}
					</div>
				{% else %}
					<div class="carousel-item" style="background-image: url('{{ photo.photo.url }}')">
						{% if photo.description %}
							<div class="carousel-caption d-none d-md-block">
								<h3>{{ photo.description }}</h3>
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Предыдущая фотография</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Следующая фотография</span>
		</a>

	</div>
</header>
{% endblock %}


{% block content %}
<div class="about">
	<div class="container">
		{% for article in articles %}
			{% if article.title %}
				<h1 class="text-center">{{ article.title }}</h1>
			{% endif %}

			{% for paragraph in paragraphs %}
				{% if paragraph.article_id == article.pk %}
				<!-- Paragraphs -->
				<div class="row">
					<div class="col-sm desc">
						{% if paragraph.image %}
							<img class="img-fluid" src="{{ paragraph.image.url }}" align=right >
						{% endif %}

						{% if paragraph.title %}
						<h4>{{ paragraph.title }}</h4>
						{% endif %}

						{{ paragraph.text|linebreaks }}

					</div>
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>
{% endblock %}