{% extends 'base.html' %}
{% load static %}


{% block nav-commemoration %}<li class="nav-item active"><a class="nav-link " href="/commemoration">Подать записку</a></li>{% endblock %}


{% block content %}
<div class="memorial" id="memorial">
    <div class="container">
        <h1 class="text-center">Записки о поминовении</h1>
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-0"></div>
            <div class="col-lg-6 col-md-8 col-sm-12">



                <form action="{% url 'comm_payment' %}" method="post">

                    {% csrf_token %}

                    <div class="invalid-feedback">
                        {{ form.non_field.errors }}
                    </div>

                    <div class="form-row mb-5">

                        <div class="col">
                            <div class="form-group">
                                <label for="{{ form.service.id_for_label }}"><h4>Служба</h4></label>
                                <div class="invalid-feedback">
                                    {{ form.service.errors }}
                                </div>

                                {% for radio in form.service %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="{{ form.duration.id_for_label }}"><h4>Продолжительность</h4></label>
                                <div class="invalid-feedback">
                                    {{ form.duration.errors }}
                                </div>

                                {% for radio in form.duration %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                                {% endfor %}

                            </div>
                        </div>


                    </div>

{% comment %}
                    <div class="form-row mb-5">
                        <div class="col">
                            <div class="form-group">
                                <label for="service_radios_1"><h4>Служба</h4></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="service_radios" id="service_radios_1" value="proscomid">
                                    <label class="form-check-label" for="service_radios_1">
                                        Сорокоуст (проскомидия)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="service_radios" id="service_radios_2" value="moleben">
                                    <label class="form-check-label" for="service_radios_2">
                                        Молебное пение
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="service_radios" id="service_radios_3" value="requiem">
                                    <label class="form-check-label" for="service_radios_3">
                                        Панихида
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="duration_radios_1"><h4>Продолжительность</h4></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="duration_radios" id="duration_radios_1" value="1_day">
                                    <label class="form-check-label" for="duration_radios_1">
                                        Проскомидия (один день)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="duration_radios" id="duration_radios_2" value="40_days">
                                    <label class="form-check-label" for="duration_radios_2">
                                        40 дней
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="duration_radios" id="duration_radios_3" value="6_months">
                                    <label class="form-check-label" for="duration_radios_3">
                                        6 месяцев
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="duration_radios" id="duration_radios_4" value="1_year">
                                    <label class="form-check-label" for="duration_radios_4">
                                        1 год
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
{% endcomment %}
                    <div class="alert alert-info" role="alert">
                        <h4 class="text-center">Имена для поминовения</h4>
                        <hr>
                        <p>В записке на Сорокоуст продолжительностью 40 дней и более необходимо указать <b>Имя и Фамилию</b>.</p>
                    </div>

                    <div class="form-row mb-5">
                        <div class="col">
                            <div class="form-group">
                                <label for="col_1"><h5>О здравии</h5></label>
                                <input type="text" class="form-control mb-2" id="col_1">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="col_2"><h5>Об упокоении</h5></label>
                                <input type="text" class="form-control mb-2" id="col_2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                                <input type="text" class="form-control mb-2">
                            </div>
                        </div>
                    </div>


                    <div class="col-auto my-1">
                        <button
                                type="submit"
                                class="btn btn-primary btn-lg btn-block">

                            Отправить записку

                        </button>
                    </div>

                </form>




            </div>
            <div class="col-lg-3 col-md-2 col-sm-0"></div>
        </div>

    </div>
</div>

{% endblock %}