{% extends 'base.html' %}
{% load static %}


{% block nav-contacts %}<li class="nav-item active"><a class="nav-link" href="/contacts">Контакты</a></li>{% endblock %}


{% block header %}
<header class="about" id="contacts">
	<div class="container">
		<h1 class="text-center">Контактные данные</h1>
		{% if contacts %}
		<ul class="nav justify-content-center">
			{% for contact in contacts %}
			<li class="nav-item">
				<a class="nav-link" href="#{{ contact.pk }}">{{ contact.menu_title }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</header>
{% endblock %}


{% block content %}
{% for contact in contacts %}
<a name="{{ contact.pk }}"></a>
<br>
<br>
<br>
<div class="container">
	<table class="table table-borderless">
		<thead>
			<tr>
				<th scope="col" colspan="2"><h3>{{ contact.title }}</h3></th>
			</tr>
		</thead>
		<tbody>

		{% if contact.address %}
		<tr>
			<th scope="row">Адрес:</th>
			<td>{{ contact.address }}</td>
		</tr>
		{% endif %}

		{% if contact.phone %}
		<tr>
			<th scope="row">Телефон:</th>
			<td>{{ contact.phone }}</td>
		</tr>
		{% endif %}

		{% if contact.email %}
		<tr>
			<th scope="row">Электронная почта:</th>
			<td>{{ contact.email }}</td>
		</tr>
		{% endif %}

		{% if contact.vkontakte %}
		<tr>
			<th scope="row">Группа Vkontakte:</th>
			<td><a href="https://vk.com/{{ contact.vkontakte }}">vk.com/{{ contact.vkontakte }}</a></td>
		</tr>
		{% endif %}

		{% if contact.instagram %}
		<tr>
			<th scope="row">Инстаграм</th>
			<td><a href="https://www.instagram.com/{{ contact.instagram }}/">@{{ contact.instagram }}</a></td>
		</tr>
		{% endif %}

		</tbody>
	</table>

	{% if contact.map_code %}
	{{ contact.map_code|safe }}
	{% endif %}

</div>
{% endfor %}

<div class="about">
	<div class="container">
	</div>
</div>
{% endblock %}