<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Свято-Троицкий cобор города Колпино</title>
	
	<!-- add bootstrap css file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- add favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">


	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(62280157, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true,
	        webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62280157" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->	</head>



<body>



<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top ">
	<a class="navbar-brand" href="index.html">Свято-Троицкий собор города Колпино</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navbarSupportedContent">
	    <ul class="navbar-nav mr-4">	      
	    	<li class="nav-item"><a class="nav-link " href="about.html">О соборе</a></li>
			<li class="nav-item"><a class="nav-link " href="commemoration.html">Подать записку</a></li>
			<li class="nav-item active"><a class="nav-link " href="events.html">События</a></li>
			<li class="nav-item"><a class="nav-link " href="schedule.html">Расписание</a></li>
			<li class="nav-item"><a class="nav-link " href="contacts.html">Контакты</a></li>
	    </ul>
	</div>
</nav>



<!-- Events section -->
<div class="blog" id="blog">
	<div class="container">
	<h1 class="text-center">События</h1>
		<!-- row 1 -->
		<div class="row">
<!--			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/polit.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					<h4 class="card-title">Post Title 1</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>-->
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/events/event-1-2-post.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					   <a href="events/event-1-2.html" class="card-link"><h4 class="card-title">Из тьмы к свету</h4></a>
						<p class="card-text">
							Митрополит Варсонофий возглавил Божественную литургию в колпинском Свято-Троицком соборе.<br>
							<i>30 апреля 2019 г.</i><br>
						</p>
					</div>
					<div class="card-footer">
						<a href="events/event-1-2.html" class="card-link">Подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/events/event-1-3-post.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
						<a href="events/event-1-3.html" class="card-link"><h4 class="card-title">Особая комната для особых детей</h4></a>
						<p class="card-text">
							<i>24 декабря 2018 г.</i><br>
						</p>
					</div>
					<div class="card-footer">
						<a href="events/event-1-3.html" class="card-link">Подробнее...</a>
					</div>
				</div>
			</div>
		</div>

		<!-- row 2 -->
		<br>
		<br>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/events/event-2-1-post.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
						<a href="events/event-2-1.html" class="card-link">
							<h4 class="card-title">Митрополит Варсонофий совершил Всенощное бдение в Свято-Троицком соборе Колпино</h4>
						</a>				
						<p class="card-text">
							<i>23 июня 2018 г.</i><br>
							Фоторепортаж.
						</p>
					</div>
					<div class="card-footer">
						<a href="events/event-2-1.html" class="card-link">Подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/events/mar5527-post.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					   	<a href="events/event-2-2.html" class="card-link">
					   		<h4 class="card-title">Творить добро в Колпино</h4>
					   	</a>
						<p class="card-text">
							<i>29 июня 2017 г.</i><br>
							Помощь старикам и инвалидам или социализация детдомовцев? А почему, собственно, «или»?
						</p>
					</div>
					<div class="card-footer">
						<a href="events/event-2-2.html" class="card-link">Подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/events/abbot-01.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
						<a href="events/event-2-3.html" class="card-link">
							<h4 class="card-title">Поздравление протоиерею Александру Селиванову с 25-летием священнического служения</h4>
						</a>
						<p class="card-text">
							<i>28 июня 2017 г.</i>
						</p>
					</div>
					<div class="card-footer">
						<a href="events/event-2-3.html" class="card-link">Подробнее...</a>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>

<footer class="footer">
	<div class="container bottom_border">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Где мы</h5>
				<!--headin5_amrc-->
				<p class="mb10">Россия, Санкт-Петербург</p>
				<p>г. Колпино, ул. Адмиралтейская, д. 42</p>
				<p>+7 (812) 482-18-22</p>
				<p>sobor-kolpino@yandex.ru</p>
				<p>vk.com/svyato_troicki_prihod</p>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Службы</h5>
				<!--headin5_amrc ends here-->
				<ul class="footer_ul2_amrc">
					<li>
						<p>
							<b>Воскресенье и праздники:</b><br>
							Божественная литургия в 7:00<br>
							Божественная литургия в 10:00
						</p>
					</li>
					<li>
						<p>
							<b>Суббота:</b><br>
							Божественная литургия в 10:00
						</p>
					</li>
					<li>
						<p>
							<b>Будние дни:</b><br>
							Божественная литургия в 9:00
						</p>
					</li>
					<li>
						<p>Подробнее в разделе <a href="schedule.html"><b>Расписание</b></a></p>
					</li>				</ul>
				<!--footer_ul2_amrc ends here-->
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<h5 class="headin5_amrc col_white_amrc pt2">Записки online</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul2_amrc">
					<li><p>Вы можете подать записку для поминовения о здравии или об упокоении на сайте.</p></li>
					<li><p>Специальная форма доступна в разделе <a href="commemoration.html"><b>Подать записку</b></a></p></li>
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 ">
				<h5 class="headin5_amrc col_white_amrc pt2">Последние публикации</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li class="media">
						<div class="media-body">
							<span>30 апреля 2019</span>
							<p><a href="events/event-1-2.html">Из тьмы к свету</a></p>
						</div>
					</li>
					<li class="media">
						<div class="media-body">
							<span>24 декабря 2018</span>
							<p><a href="events/event-1-3.html">Особая комната для особых детей</a></p>
						</div>
					</li>
					<li class="media">
						<div class="media-body">
							<span>23 июня 2018</span>
							<p><a href="events/event-2-1.html">Митрополит Варсонофий совершил Всенощное бдение в Свято-Троицком соборе Колпино</a></p>
						</div>
					</li>
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>
		</div>
	</div>
    <div class="container">
        <div class="footer-logo">
			<img src="images/logo-bottom-white.png" alt="" />
		</div>
        <!--footer_bottom_ul_amrc ends here-->
        <p class="copyright text-center">
        	Официальный сайт Свято-Троицкого собора г. Колпино
        </p>
        <ul class="social_footer_ul">
			<li><a href="https://www.instagram.com/troickoe_podvorie/"><img src="images/instagram_small_grey.png" alt="" width="30px" height="30px" /></a></li>
			<li><a href="https://vk.com/svyato_troicki_prihod"><img src="images/vk_small_grey.png" alt="" width="30px" height="30px" /></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>



<!-- add Javasscript file from js file -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src='js/main.js'></script>

<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

</body>
</html>