{% extends 'base.html' %}
{% load static %}


{% block nav-events %}<li class="nav-item active"><a class="nav-link" href="/events">События</a></li>{% endblock %}


{% block content %}
<div class="blog" id="blog">

	<div class="container">
		<h1 class="text-center">События</h1>

		<div class="row">

			{% for event in events %}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card mb-4 shadow-sm">
					<a href="{% url 'event_view' event.pk %}">
						<img src="{{ event.photo.url }}" class="card-img-top" style="height: 100%; width=auto;">
					</a>
					<div class="card-body">
						<a href="{% url 'event_view' event.pk %}" class="card-link"><h5 class="card-title">{{ event.title }}</h5></a>
						<small class="text-muted">{{ event.date }}</small>
						<p class="card-text crop-text">{{ event.annotation }}</p>
					</div>
					<div class="card-footer text-muted">
						<div class="d-flex justify-content-between align-items-center">
							<a href="{% url 'event_view' event.pk %}" class="card-link">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}