{% extends 'base.html' %}
{% load static %}


{% block nav-home %}<a class="navbar-brand active" href="/">Свято-Троицкий собор города Колпино</a>{% endblock %}


{% block header %}
<header class="header" style="background-image: url('{{ header.background_image.url }}')">
	<div class="overlay"></div>
	<div class="container">
	  	<div class="description ">
			<h1>{{ header.title }}</h1>
			{{ header.text|linebreaks }}
		</div>
	</div>
</header>
{% endblock %}


{% block content %}

{% if schedule %}
    {% include 'MyApp/schedule_table.html' %}
{% endif %}

{% endblock %}