{% load static %}
<div class="container bottom_border">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Где мы</h5>
            <!--headin5_amrc-->
            <p class="mb10">Россия, Санкт-Петербург</p>
            <p>г. Колпино, ул. Адмиралтейская, д. 42</p>
            <p>+7 (812) 482-18-22</p>
            <p>sobor-kolpino@yandex.ru</p>
            <p>vk.com/svyato_troicki_prihod</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Службы</h5>
            <!--headin5_amrc ends here-->
            <ul class="footer_ul2_amrc">
                <li>
                    <p>
                        <b>Воскресенье и праздники:</b><br>
                        Божественная литургия в 7:00<br>
                        Божественная литургия в 10:00
                    </p>
                </li>
                <li>
                    <p>
                        <b>Суббота:</b><br>
                        Божественная литургия в 10:00
                    </p>
                </li>
                <li>
                    <p>
                        <b>Будние дни:</b><br>
                        Божественная литургия в 9:00
                    </p>
                </li>
                <li>
                    <p>Подробнее в разделе <a href="schedule.html"><b>Расписание</b></a></p>
                </li>                </ul>
            <!--footer_ul2_amrc ends here-->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <h5 class="headin5_amrc col_white_amrc pt2">Записки online</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul2_amrc">
                <li>
                    <p>
                        Вы можете подать записку для поминовения о здравии или об упокоении на сайте.
                    </p>
                </li>
                <li>
                    <p>
                        Специальная форма доступна в разделе <a href="commemoration.html"><b>Подать записку</b></a>
                    </p>
                </li>
            </ul>
            <!--footer_ul_amrc ends here-->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
            <h5 class="headin5_amrc col_white_amrc pt2">Последние публикации</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
                <li class="media">
                    <div class="media-body">
                        <span>30 апреля 2019</span>
                        <p><a href="events/event-1-2.html">Из тьмы к свету</a></p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <span>24 декабря 2018</span>
                        <p><a href="events/event-1-3.html">Особая комната для особых детей</a></p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <span>23 июня 2018</span>
                        <p>
                            <a href="events/event-2-1.html">
                                Митрополит Варсонофий совершил Всенощное бдение в Свято-Троицком соборе Колпино
                            </a>
                        </p>
                    </div>
                </li>
            </ul>
            <!--footer_ul_amrc ends here-->
        </div>
    </div>
</div>


<div class="container">
    <div class="footer-logo">
        <img src="{% static 'MyApp/images/logo-bottom-white.png' %}" alt="" />
    </div>
    <!--footer_bottom_ul_amrc ends here-->
    <p class="copyright text-center">
        Официальный сайт Свято-Троицкого собора г. Колпино
    </p>
    <ul class="social_footer_ul">
        <li>
            <a href="https://www.instagram.com/troickoe_podvorie/">
                <img src="{% static 'MyApp/images/instagram_small_grey.png' %}" alt="" width="30px" height="30px" />
            </a>
        </li>
        <li>
            <a href="https://vk.com/svyato_troicki_prihod">
                <img src="{% static 'MyApp/images/vk_small_grey.png' %}" alt="" width="30px" height="30px" />
            </a>
        </li>
    </ul>
    <!--social_footer_ul ends here-->
</div>